<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
  	<!-- content -->
  	<th:block layout:fragment="content">	
		<div class="row my-5" id="global-content">
			<div class="col-10 offset-1">
				<div class="row text-center my-3">
					<div class="col">
						<h2 class="fs-3 fw-bold">연도별 의사 수 변화</h2>
					</div>
				</div>
				<!-- 차트 출력 영역 -->
				<div class="row">
					<div class="col">
					    <div id="doctorsChart" class="chart--container">
					      <a href="https://www.zingchart.com/" rel="noopener" class="zc-ref">Powered by ZingChart</a>
					    </div>
					</div>
				</div>				
			</div>
		</div>
		<script th:inline="javascript">
		// DEFINE CHART LOCATIONS (IDS)
		// -----------------------------
		// Main chart render location
		let doctorsData = [[${doctorsData}]];

		// CHART CONFIG
		// -----------------------------
		let chartConfig = {
		  type: 'vbar',
		  globals: {
		    fontFamily: 'Lato',
		  },
		  plot: {
		    tooltip: {
		      visible: false,
		    },
		    'bars-space-left': 0.15,
		    'bars-space-right': 0.15,
		  },
		  plotarea: {
		    margin: 'dynamic',
		  },
		  scaleX: {
		    values: doctorsData.year,
		    item: {
		      offsetY: -5,
		      angle: 270,
		    },
		    tick: {
		      size: 10,
		    },
		  },
		  series: [
		    {
		      text: '의사_남',
		      values: doctorsData.dmale,
		    },
		    {
		      text: '의사_여',
		      values: doctorsData.dfemale,
		    },
		    {
		      text: '한지의사_남',
		      values: doctorsData.kdmale,
		    },
		    {
		      text: '한지의사_여',
		      values: doctorsData.kdfemale,
		    },
		  ],
		  crosshairX: {
		    lineWidth: '100%',
		    alpha: 0.4,
		  },
		};

		// RENDER CHART
		// -----------------------------
		zingchart.render({
		  id: 'doctorsChart',
		  data: chartConfig,
		  height: '560px',
		  width: '100%',
		});
		</script>
	</th:block>
</html>