<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<!-- header  -->
	<div th:fragment="header" class="row border-bottom border-primary">
		<div class="col-2">
			<p><a href="/"><img src="image/free-icon-doctor-13120107.png" style="width: 100px; height: auto;"></a></p>
		</div>
		<div class="col-10">
			<div class="row">
				<div class="col">
					<ul class="nav justify-content-end">
						<li class="nav-item">
							<a class="nav-link" href="cancer">대장암 발병 수</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="coffeeShop">커피숍 현황</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="popTimeSeries">연령대별 인구 조사</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="doctors">연도별 의사 수</a>
						</li>							
					</ul>
				</div>
			</div>
		</div>
	</div>	
</html>